<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="sessionMap" class="rn2012a.service.SessionMap"></bean>

	<bean id="dataPackageMap" class="rn2012a.service.DataPackageMap"></bean>
	
	<bean id="addrMap" class="rn2012a.actions.AddressMap">
	    <property name="dataPackageMap" ref="dataPackageMap"></property>
	</bean>

	<bean id="rn2012aDecoder" class="rn2012a.service.Rn2012aDecoder"></bean>

	<bean id="rn2012aEncoder" class="rn2012a.service.Rn2012aEncoder"></bean>


	<bean id="testAction" class="rn2012a.actions.TestAction" scope="prototype">
		<property name="minaServer" ref="minaServerHandler"></property>
<!-- 		<property name="dataPackageMap" ref="dataPackageMap"></property> -->
                <property name="addressMap" ref="addrMap"></property>
	</bean>


	<bean id="devAddrAction" class="rn2012a.actions.DevAddrAction" scope="prototype">
		<property name="sessionMap" ref="sessionMap"></property>
<!-- 		<property name="dataPackMap" ref="dataPackageMap"></property> -->
		<property name="addrMap" ref="addrMap"></property>
	</bean>

	<bean id="loginAction" class="rn2012a.actions.LoginAction" scope="prototype">
	</bean>

	<bean id="evtIdAction" class="rn2012a.actions.EvtIdAction" scope="prototype">
		<property name="dataPackageMap" ref="dataPackageMap"></property>
	</bean>

</beans>
