body {
	padding: 0;
	margin: 0;
	text-align: center;
}

#container {
	text-align: left;
	width: 1440px;
	height: 900px;
	margin: auto auto;
	/* 	top: 50%; */
	/* 	left: 50%; */
	/* 	margin-top: -450px; */
	/* 	margin-left: -720px; */
	background: url(../image/login_bk0.png) no-repeat center;
}

#loginfrm {
	float: left;
	margin-top: 410px;
	margin-left: 610px;
	width: 220px;
	height: 110px;
/* 	background: brown; */
}

form{
	margin: 0;
	padding: 0;
}

label{
/* 	background: blue; */
	width: 58px;
/* 	height: 20px; */
	margin: 0px 2px 5px 0px;
	float: left;
	clear: left; 
	line-height: 21px;
}

.div_txtbox{
	float:right;
/* 	background: brown; */
	clear: right;
}

.div_txtbox input{
	width: 155px;
	height: 18px;
	border: 1px solid gray;
	background: #c0c0c0;
}

.div_txtbox input:focus{
	border: 0px 1px 1px 0px;
	border-style: outset;
	border-color: #2468a2;
	background: white;
}

.div_submit{
	float: right;
	clear: right;
	margin-top: 5px;
}
.div_error{
	float: left;
	clear:left;
	margin-top: 5px;
/* 	background: red; */
}

.errorMessage{
	margin: 0;
	padding: 0;
	list-style: none;
}

.errorMessage li{
	color: red;
	font-size: 0.8em;
	float: left;
}
/* .label{ */
/* 	display:block;  */
/* 	width:55px;  */
/* 	text-align:right; */
/* /* 	background: red; */ */
/* } */

/* #username{ */
/* 	width: 150px; */
/* } */
/* #password{ */
/* 	width: 150px !important; */
/* 	width: 148px ; */
/* } */